<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

	<task:annotation-driven
		exception-handler="myAsyncUncaughtExceptionHandler" />

	<bean id="myAsyncUncaughtExceptionHandler"
		class="org.ChapterIV.TaskExecutor.MyAsyncUncaughtExceptionHandler"></bean>
		
	<context:component-scan
		base-package="org.ChapterIV.TaskExecutor" />

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!--1. 核心线程个数 -->
		<property name="corePoolSize" value="5" />
		<!--2.最大线程个数 -->
		<property name="maxPoolSize" value="10" />
		<!--3.超过核心线程个数的线程空闲多久被回收 -->
		<property name="keepAliveSeconds" value="60" />

		<!--4.缓存队列大小 -->
		<property name="queueCapacity" value="20" />
		<!--5.拒绝策略 -->
		<property name="rejectedExecutionHandler">
			<bean
				class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
		</property>
		<property name="waitForTasksToCompleteOnShutdown"
			value="true"></property>
	</bean>

	<bean id="asyncExecutorExample"
		class="org.ChapterIV.TaskExecutor.AsyncExecutorExample">
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>
	<!-- <bean id="asyncCommentExample" class="com.jiaduo.async.AsyncProgram.AsyncCommentExample"> 
		</bean> -->

</beans>